$font-stack: 'Roboto Slab', sans-serif;

@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "node_modules/normalize.css/normalize";
@import "navbar";
@import "arrow";
@import "thumbnail";
@import "login-bar";

h1, p, button, input, h2, h3, label, .promo, a {
  font-family: $font-stack !important;
}

ol > li {
  margin-bottom: 30px;
}

.navbar-right {
  margin-top: 13px;
}

.navbar-right li a {
  color: #fff;
}

.promo {
  font-weight: 100;
  font-size: 20px;
}

body {
  background-color: #f5f5f5;
}
