$font-stack: 'Roboto Slab', sans-serif;

@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "node_modules/normalize.css/normalize";
@import "navbar";
@import "arrow";
@import "thumbnail";
@import "login-bar";

* {
  font-family: $font-stack !important;
}

body {
  background-color: #f5f5f5;
}
