// .arrow {
//   width: 48%;
//   height: 35px;
//   border: 1px solid #3498db;
//   font-family: $font-stack;
//   background-color: #2980b9;
//   margin-bottom: 20px;
//   margin-top: 20px;
// }

.arrow-left {
  float: left;
  width: 48%;
  margin-bottom: 20px;
  margin-top: 20px;
}

.arrow-right {
  float: right;
  width: 48%;
  margin-bottom: 20px;
  margin-top: 20px;
}